{% extends 'app/base.html' %}
{% block content %}

<div class="row alert bg bg-success text-white">
  <div class="col-sm-6">
    <h3>{{d}} &nbsp; {{hm}}</h3>
  </div>
  <div class="col-sm-6">
    <h3 class="d-flex flex-row-reverse">{{request.user.first_name}} {{request.user.last_name}}</h3>
  </div>
</div>
<div class="col-sm-12 d-flex flex-row-reverse">
    <a class="btn btn-outline-warning mt-1 " href="{% url 'export_pannee' %}" role="button">Exporter les données</a>
</div>
<div class="mt-4">
    {% if pa %}
    <div class="container">
        <table class="table table-fixed">
          <thead>
            <tr>
              <th class="col-sm-2">Date</th>
              <th class="col-sm-2">Matricule</th>
              <th class="col-sm-2">Arrivée</th>
              <th class="col-sm-2">Début pause</th>
              <th class="col-sm-2">Fin pause</th>
              <th class="col-sm-2">Départ</th>
            </tr>
          </thead>
          <tbody>
            {% for p in pa %}
            <tr>
              <td class="col-sm-2">{{p.date}}</td>
              <td class="col-sm-2"> {{p.matricule}}</td>
              <td class="col-sm-2">{{p.arrivee}}</td>
              <td class="col-sm-2">{{p.debutpause}}</td>
              <td class="col-sm-2">{{p.finpause}}</td>
              <td class="col-sm-2">{{p.depart}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
    <h4 class="text-center alert alert-warning">Aucun pointage</h4>
    {% endif %}
</div>

{% endblock content %}